#mainbuttons {
  margin: auto;
  width: 100%;
  text-align: center;
}
#userTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#userTable td,
#userTable th {
  border: 2px solid #ddd;
  padding: 8px;
  margin: auto;
  text-align: left;
}
#userTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
#userTable tr:hover {
  background-color: #ddd;
}
#userTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
}
input {
  font-size: 18pt;
  height: 1cm;
  width: 32.5%;
  caret-color: deeppink;
}
button {
  border: none;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
}
.center {
  margin: auto;
  width: 80%;
  border: 3px solid #ddd;
  padding: 10px;
}
.add {
  background-color: #4caf50;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
} /* Green */
.add:hover {
  background-color: #46a049;
  color: white;
}
.undo {
  background-color: #ff9800;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
} /* Orange */
.undo:hover {
  background: #e68a00;
  color: white;
}
.clearAll {
  background-color: #f44336;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
} /* Red */
.clearAll:hover {
  background: #da190b;
  color: white;
}
